.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chess-piece__white {
  color: #fff;
  font-size: 30px;
  width: 52px;
  height: 52px;
}

.chess-piece__black {
  color: #000;
  font-size: 30px;
}

.chess-board {
  margin: 0 auto;
  width: 434px;
  position: relative;
}

.chess-board td {
  width: 50px;
  height: 50px;
}

.chess-board .square__dark-brown {
  background-color: #753000;
}
.chess-board .square__light-brown {
  background-color: #C9A26A;
}

.rook-a {
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
